<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="org.lywam.tours.pg" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Woodson Art</name>
  <description>The Woodson Art Museum’s audio tour app offers insights into artworks on view. Permanent collections and temporary exhibitions are enlivened through artist interviews, videos, and engaging audio content. The Woodson Art Museum is located in Wausau, Wisconsin, and is internationally known for its annual fall flagship exhibition, Birds in Art, featuring contemporary avian-themed artwork.</description>
  <author email="museum@lywam.org" href="http://lywam.org/">Leigh Yawkey Woodson Art Museum</author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="UIWebViewBounce" value="true"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="BackupWebStorage" value="none"/>
  <preference name="AllowInlineMediaPlayback" value="true"/>
  <preference name="MediaPlaybackRequiresUserAction" value="false"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="http://api.phonegap.com/1.0/device" />
  <feature name="http://api.phonegap.com/1.0/media" />
</widget>
