@font-face {
  font-family: "Avenir";
  src: url('Avenir LT 45 Book.ttf');
}

@font-face {
  font-family: "Avenir";
  src: url('Avenir LT 45 Book Oblique.ttf');
  font-style: italic;
}

* {
	font-family: "Avenir" !important;
}

i {
  font-style:italic;
}


.col-wrapper{width:100%; margin:0 auto;}
.col{margin:0 10px; float:left; display:inline; width:50%;}




.bar-positive {
	border-color: rgb(147,140,126) !important;
  background-color: rgb(147,140,126) !important;
}





.tour-list {
	width:100%;
	height:calc(100% - 44px);
	padding:0;
  margin-top:44px;
  overflow:auto;
}

.tableviewimg {
	width:80px;
	height:80px;
}
.tableviewcaption {
	text-align:left;
  margin-left:20px;
}

.tableviewcaptionholder {
	width:100%;
	height:80px;
  vertical-align: middle;
}


.tableview {
	width:100%;
}

.tour-list-item {
	width:100%;
	height:80px;
	color:black;
	font-size:17px;
	list-style: none;
	background-color:white
}


.g
{
  overflow:scroll;
  margin-top:44px;
  display:block;
  margin-left:calc(50% - 155px);
  height:calc(100% - 44px);
}

.g li
{
  float: left;
	width: 50%;

}

.g img
{
  width:140px;
  height:140px;
	display: block;
}
.g li:nth-child(odd)
{
  clear: left;
}
.g li:nth-child(even)
{
  margin-left:10px;
}
.g li
{
  width: 140px;
  padding:10px;
}



.tour-list-item:not(:last-child)
{
border-bottom:1px solid black;
}






















.back-button {
	width: 65px;
	height:35px;
	background-size:65px 35px;
	background-image: url(button.png);
	display:inline-block;
	opacity:0.8;
	font-size:14px;
	color:black;
	text-align: center;
	line-height: 35px;
}


.page {
	background-color: black;
}






.pane-home {
	background: url(home.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
	height:100%;
}

.pane-information {
	background: url(home.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height:100%;
	opacity:0.45;
}


.home-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
	text-align:center;
	width:100%;
	margin-top:4%;
	background: rgba(0, 0, 0, 0.75);
}

.home-header > h3, h4 {
	margin:0;
	padding:0;
	color:white;
}

.home-footer {
	position: absolute;
	height: 50px;
	top: calc(96% - 50px);
	width:100%;
	background: rgba(0, 0, 0, 0.75);
}

ion-nav-view {
  background-color: transparent;
 }

.home-buttons {
	width:256px;
	height:50px;
	font-size:18px;

	text-align: center;
	line-height: 50px;
	margin-left:calc(50% - 128px);
}

.home-button, .home-button:visited{
	width: 125px;
	height:50px;
	background-size:125px 50px;
	background-image: url(button.png);
	display:inline-block;
	opacity:0.8;
	text-decoration: none;
	color:black;
}

.tour-button {
	width: calc(auto);
	height:45px;
	position:relative;
	top:80%;
	left:1%;
	background: url(button.png) no-repeat;
	background-size: 100% 45px;
	padding-left:15px;
	padding-right:15px;
	display:inline-block;
	opacity:0.8;
	font-size:17px;
	color:black;
	text-align: center;
	line-height: 45px;
}



.selector-list {
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

.selector-item {
	width:100%;
	height:50%;
}

.selector {
	width:100%;
	height:100%;
	background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
	margin:0;
	padding:0;
}
