<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title>Woodson Art</title>
    <link href="assets/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="assets/style.css" rel="stylesheet">
    <script src="assets/lib/jquery-2.1.4.min.js"></script>
    <script src="assets/lib/ionic/js/ionic.bundle.js"></script>
    <script src="assets/lib/ionic/js/angular/angular.js"></script>
    <script src="assets/lib/ionic/js/angular/angular-resource.js"></script>
    <script src="assets/lib/ionic/js/angular-ui/angular-ui-router.min.js"></script>
    <script src="assets/lib/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&amp;sensor=true"></script>
    <script src="assets/app.js"></script>
  </head>
  <body ng-app="WoodsonArt" style="">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-nav-view animation="fade-in"></ion-nav-view>
    <script id="home.html" type="text/ng-template">
      <ion-view hide-nav-bar="true" view-title="">
        <ion-pane class="pane-home" style="-webkit-transform: translate3d(0,0,0);">
          <div class="home-header">
            <h4>Leigh Yawkey</h4>
            <h3>Woodson Art Museum</h3>
          </div>
          <div class="home-footer">
            <div class="home-buttons">
              <a class="home-button" href="#/tourSelector">Tours</a>
              <a class="home-button" href="#/information">Information</a>
            </div>
          </div>
        </ion-pane>
      </ion-view>
    </script>
    <script id="information.html" type="text/ng-template">
      <ion-view class="page" hide-nav-bar="false" view-title="Information">
        <ion-nav-buttons side="left" ng-show="false">
          <button ng-click="goBack();" class="button button-icon button-clear ion-chevron-left">&nbsp;Back</button>
        </ion-nav-buttons>
        <ion-pane style="background-color:black;-webkit-transform: translate3d(0,0,0);">
          <div style="position:absolute;top:44;left:0;width:100%;height:100%;" class="pane-information"></div>
          <div style="position:absolute;top:0;left:0;width:100%;height:-webkit-calc(100% - 44px);opacity:1;margin-top:44px;padding:20px;">
            <section ng-click="goVisit();" class="card" style="width:100%;border-radius:4px;height:30%;margin:0;margin-bottom:20px;">
              <div style="width:100%;height:-webkit-calc(100% - 25px);background-image:url('assets/info_visit.jpg');background-size:cover;background-position:center center;"></div>
              <div class="boxText"><h3>Visit</h3></div>
            </section>
            <div style="width:100%;height:40%;margin-bottom:20px;">
              <section ng-click="goLocation();" class="card" style="vertical-align:top;float:left;width:-webkit-calc(50% - 20px);height:100%;border-radius:4px;margin:0;">
                <div style="width:100%;height:-webkit-calc(100% - 25px);background-image:url('assets/info_location.jpg');background-size:cover;background-position:center center;"></div>
                <div class="boxText"><h3>Location</h3></div>
              </section>
              <section ng-click="goLearn();" class="card" style="vertical-align:top;float:right;width:50%;height:60%;bottom:50%;border-radius:4px;margin:0;">
                <div style="width:100%;height:-webkit-calc(100% - 25px);background-image:url('assets/info_learn_alt.jpg');background-size:cover;background-position:center center;"></div>
                <div class="boxText"><h3>Learn More</h3></div>
              </section>
            </div>
            <section ng-click="goHours();" class="card" style="width:60%;height:-webkit-calc(30% - 40px);bottom:50%;border-radius:4px;margin:0;">
              <div style="width:100%;height:-webkit-calc(100% - 25px);background-image:url('assets/info_hours_alt.jpg');background-size:cover;background-position:center center;"></div>
              <div class="boxText"><h3>Hours</h3></div>
            </section>
          </div>
        </ion-pane>
      </ion-view>
    </script>
    <script id="information_visit.html" type="text/ng-template">
      <ion-view class="page" hide-nav-bar="false" view-title="Visit">
        <ion-nav-buttons side="left" ng-show="false">
          <button ng-click="goBack();" class="button button-icon button-clear ion-chevron-left">&nbsp;Back</button>
      </ion-nav-buttons>0
        <ion-pane style="background-color:black;-webkit-transform: translate3d(0,0,0);">
          <div style="position:absolute;top:44;left:0;width:100%;height:100%;" class="pane-information"></div>
          <div style="position:absolute;top:0;left:0;width:100%;height:-webkit-calc(100% - 44px);opacity:1;margin-top:44px;">
            <br />
            <center>
              <img style="width:128px;height:64px;" src="assets/res_logo.jpg"></img>
              <p style="color:white;font-size:18px;margin-top:20px;">Always Free Admission<br />Phone: 715.845.7010</p>
              <p style="color:white;font-size:18px;margin-top:20px;">700 North Twelfth Street<br />Wausau, WI 54403</p>
            </center>
          </div>
        </ion-pane>
      </ion-view>
    </script>
    <script id="information_location.html" type="text/ng-template">
      <ion-view class="page" hide-nav-bar="false" view-title="Location">
        <ion-nav-buttons side="left" ng-show="false">
          <button ng-click="goBack();" class="button button-icon button-clear ion-chevron-left">&nbsp;Back</button>
      </ion-nav-buttons>
        <ion-pane style="background-color:black;-webkit-transform: translate3d(0,0,0);"><div id="map" class="underNavBar" style="width:100%;height:100%;"></div></ion-pane>
      </ion-view>
    </script>
    <script id="information_learn.html" type="text/ng-template">
      <ion-view class="page" hide-nav-bar="false" view-title="Learn More">
        <ion-nav-buttons side="left" ng-show="false">
          <button ng-click="goBack();" class="button button-icon button-clear ion-chevron-left">&nbsp;Back</button>
      </ion-nav-buttons>
        <ion-pane style="background-color:black;-webkit-transform: translate3d(0,0,0);">
          <div style="position:absolute;top:44;left:0;width:100%;height:100%;" class="pane-information"></div>
          <div style="position:absolute;top:0;left:0;width:100%;height:-webkit-calc(100% - 44px);opacity:1;margin-top:44px;">
            <br />
            <center>
              <img style="width:128px;height:64px;" src="assets/res_logo.jpg"></img>
              <div style="margin-top:20px">
                <a class="info-button" style="display:block;" onClick="">Director&#39;s Welcome</a>
                <a class="info-button" style="display:block;" onClick="">Our Story</a>
              </div>
              <p style="position:absolute; bottom:0;color:white;font-size:14px;margin-top:20px;padding:10px;">The Woodson’s audio tour app is made possible through the generous support of the Dudley Foundation, Wausau, and a partnership with the Wausau School District’s Engineering Global Leadership Academy.</p>
            </center>
          </div>
        </ion-pane>
      </ion-view>
    </script>
    <script id="information_hours.html" type="text/ng-template">
      <ion-view class="page" hide-nav-bar="false" view-title="Hours">
        <ion-nav-buttons side="left" ng-show="false">
          <button ng-click="goBack();" class="button button-icon button-clear ion-chevron-left">&nbsp;Back</button>
      </ion-nav-buttons>
        <ion-pane style="background-color:black;-webkit-transform: translate3d(0,0,0);">
          <div style="position:absolute;top:44;left:0;width:100%;height:100%;" class="pane-information"></div>
          <div style="position:absolute;top:0;left:0;width:100%;height:-webkit-calc(100% - 44px);opacity:1;margin-top:24px;padding:20px;">
            <br />
            <center>
              <img style="width:128px;height:64px;" src="assets/res_logo.jpg"></img>
            </center>
            <div id="textbox" style="margin-top:20px;">
              <p class="alignleft">Tuesday - Friday</p>
              <p class="alignright">9am - 4pm</p>
            </div>
            <div style="clear: both;"></div>
            <div id="textbox" style="">
              <p class="alignleft">Saturday - Sunday</p>
              <p class="alignright">Noon - 5pm</p>
            </div>
            <div style="clear: both;"></div>
            <div id="textbox" style="">
              <p class="alignleft">Closed Monday and Holidays</p>
            </div>
            <div style="clear: both;"></div>
            <div id="textbox" style="margin-top:20px;">
              <p class="alignleft">First Tuesday each month & every Birds in Art Thursday</p>
              <p class="alignright">9am - 7:30pm</p>
            </div>
            <div style="clear: both;"></div>
            <center>
              <p style="color:white;font-size:18px;margin-top:20px;">Birds in Art, the Museum&#39;s flagship exhibition, opens each fall the weekend after Labor Day.</p>
            </center>
          </div>
        </ion-pane>
      </ion-view>
    </script>
    <script id="tourSelector.html" type="text/ng-template">
      <ion-view hide-nav-bar="true" view-title="">
        <ion-pane style="-webkit-transform: translate3d(0,0,0);">
          <ul class="selector-list">
              <li ng-repeat="item in objects" class="selector-item">
                <div class="selector" style="background-image:url({{item.image}});">
                  <div class="tour-button" ng-click="select('{{ item.link }}');">{{item.button}}</div>
                </div>
              </li>
          </ul>
          <div class="back-button" ng-click="goBack();">Back</div>
        </ion-pane>
      </ion-view>
    </script>
    <script id="artworkSelectorTable.html" type="text/ng-template">
      <ion-view hide-nav-bar="false">
        <ion-nav-title>{{objectTitle}}</ion-nav-title>
        <ion-nav-buttons side="left" ng-show="false">
          <button ng-click="goBack();" class="button button-icon button-clear ion-chevron-left">&nbsp;Back</button>
        </ion-nav-buttons>
        <ion-pane style="-webkit-transform: translate3d(0,0,0);">
          <ul class="tour-list">
            <li ng-repeat="item in objects" class="tour-list-item" ng-click="select('{{item.tableTitle}}', '{{item.largeImage}}', '{{item.imgCaption}}', {{item.videoData}})">
              <table class="tableview">
                <tr class="tableview">
                  <td class="tableviewimg">
                    <img class="tableviewimg" src="{{ item.tableThumb }}"></img>
                  </td>
                  <td class="tableviewcaptionholder">
                    <p ng-bind-html="item.tableTitle" class="tableviewcaption"></p>
                  </td>
                </tr>
              </table>
            </li>
          </ul>
        </ion-pane>
      </ion-view>
    </script>
    <script id="artworkSelectorGrid.html" type="text/ng-template">
      <ion-view hide-nav-bar="false">
        <ion-nav-title>{{objectTitle}}</ion-nav-title>
        <ion-nav-buttons side="left" ng-show="false">
          <button ng-click="goBack();" class="button button-icon button-clear ion-chevron-left">&nbsp;Back</button>
        </ion-nav-buttons>
        <ion-pane style="overflow-y:auto;-webkit-transform: translate3d(0,0,0);">
          <div class="underNavBar">
            <div class="galleries-list">
              <div class="gallery-title-holder">
                <p class="gallery-title" ng-bind-html="smallTitle1"></p>
              </div>
              <div class="gallery-title-holder">
                <p class="gallery-title" ng-bind-html="smallTitle2"></p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div ng-repeat="item in objects" ng-if="$even">
              <div class="square bg" ng-style="{ 'background-image': 'url(' + objects[$index].largeImage + ')' }" ng-click="select('{{objects[$index].tableTitle}}', '{{objects[$index].largeImage}}', '{{objects[$index].imgCaption}}', {{objects[$index].videoData}})">
                <div class="content">
                <div class="table">
                    <div class="table-cell"></div>
                  </div>
                </div>
              </div>
              <div class="square bg" ng-style="{ 'background-image': 'url(' + objects[$index + 1].largeImage + ')' }" ng-click="select('{{objects[$index + 1].tableTitle}}', '{{objects[$index + 1].largeImage}}', '{{objects[$index + 1].imgCaption}}', {{objects[$index + 1].videoData}})">
                <div class="content">
                  <div class="table">
                    <div class="table-cell"></div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
        </ion-pane>
      </ion-view>
    </script>
    <script id="artwork.html" type="text/ng-template">
      <ion-view hide-nav-bar="false">
      <ion-nav-title>{{artworkTitle}}</ion-nav-title>
        <ion-nav-buttons side="left" ng-show="false">
          <button ng-click="goBack();" class="button button-icon button-clear ion-chevron-left">&nbsp;Back</button>
        </ion-nav-buttons>
        <ion-pane style="overflow-y:auto;-webkit-transform: translate3d(0,0,0);">
          <center><div class="h" style="background-image: url({{artworkImage}});"></div></center>
          <p class="artwork-caption" ng-bind-html="artworkCaption"></p>
          <ul class="videoList">
            <li ng-repeat="item in videoData" ng-click="playVideo('{{item.videoFile}}')"><p ng-bind-html="item.title"></p></li>
          </ul>
        </ion-pane>
      </ion-view>
    </script>
    <script id="video.html" type="text/ng-template">
      <ion-view hide-nav-bar="false">
        <ion-nav-title ng-bind-html="videoTitle"></ion-nav-title>
        <ion-nav-buttons side="left" ng-show="false">
          <button ng-click="goBack();" class="button button-icon button-clear ion-chevron-left">&nbsp;Back</button>
        </ion-nav-buttons>
        <ion-pane style="background-color:black;-webkit-transform: translate3d(0,0,0);">
          <video ng-src="{{link}}" class="centerme" controls="controls" autoplay webkit-playsinline></video>
        </ion-pane>
      </ion-view>
    </script>
  </body>
</html>
